﻿<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/Script.js"></script>
    <link rel="stylesheet" href="CSS/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller="myController">
    <div name="container" style="position:relative;top:50px; left:50px; width:800px;height:auto">
        <input type="text" class="form-control" style="width:300px" placeholder="Search blogs by Title" ng-model="SearchText.Title">

        <article ng-repeat="item in list | filter:SearchText">
            <h1 class="text-success">
                {{item.Title}}
            </h1>
            <p>
                <textarea class="form-control" ng-model="item.Text" ng-readonly="!item.IsEdit" style="border:none ; outline:none;overflow:hidden; resize:none;width:800px; height:{{item.TextSize/120*20+28}}px">...</textarea>

            </p>
            <br />
            <a href="#" ng-show="item.ViewVisibility" class="text-success" ng-click="AlterTextSize(item)">{{item.Link}}</a>

            <button name="Edit" style="height:30px" class="btn btn-success" ng-click="EditSave(item)">{{item.EditSave}}</button>
            <button name="Cancel" ng-show="item.CancelVisibility" style="height:30px" class="btn btn-danger" ng-click="EditSave(item)">Cancel</button>

            <div style="position:relative;float:right;">
                <button style="position:relative;width:60px;height:30px" ng-click="IncrementLikes(item)" type="button" class="btn btn-success" ng-disabled="item.IsDirty">
                    <span class="glyphicon glyphicon-thumbs-up"></span>{{item.Likes}}
                </button>

                <button style="position:relative;width:60px;height:30px" ng-click="IncrementDislikes(item)" type="button" class="btn btn-danger" ng-disabled="item.IsDirty">
                    <span class="glyphicon glyphicon-thumbs-down"></span>{{item.Dislikes}}
                </button>
            </div>
            <br />

        </article>
        <br/>
        Articles per page: <select data-ng-init="select = 1" data-ng-options="x for x in pagesNr" ng-model="select" ng-change="OnSelect()" class="selectpicker" style="height:28px;width:35px">
    <!--<option ng-repeat="x in pagesNr">{{x}}</option>-->
</select>

        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" mdbWavesEffect aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li ng-repeat="x in [].constructor(NRpage) track by $index" ng-click="SetPage($index+1)" class="page-item"><a class="page-link" mdbWavesEffect>{{$index+1}}</a></li>
               <!-- <li  class="page-item active"><a class="page-link" mdbWavesEffect>1</a></li>
                <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
                <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
                <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
                <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>
                -->
                <li class="page-item">
                    <a class="page-link" mdbWavesEffect aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>



    </div>
          

               
          
       
</body>
</html>